body{
    background:
    linear-gradient(
            rgba(0, 2, 211, 0.38),
            rgba(0, 2, 211, 0.38)
    ),
    url("https://static.pexels.com/photos/8101/sea-sky-sunset-water.jpg");
}
h1,h3{
    padding: 0 0 0 75px;
    color: #160085;
}
.hvarbeach{
    width:60%;
    border: 15px ridge #558ca4;
}
p{
    color: #00ffa2;
    background-color: rgb(0, 76, 176);
    width: 60%;
    box-shadow: #00ffa2 1px 1px 1px;
    border-radius: 15px;
    text-shadow: #160085 2px 2px 2px;
    padding: 0 0 0 10px;
}

#container{
    animation-name:fade;
    animation-duration:3s;
    animation-iteration-count:1;
    animation-timing-function: ease-in;
    background-color: rgba(123, 161, 229, 0.3);
    border: 5px solid #160085;
    border-radius: 30px;
    margin:auto;
    padding: 0 0 0 175px;
    width:600px;
    font-family: "Quattrocento Sans", "Arial"
}
#container:hover{
    background-color: rgba(123, 161, 229, 0.6)
}

.list-text{
    color: white;
}
@keyframes fade{
    from{
        opacity:0.0;
    }
    to{
        opacity:1.0;
    }
}